@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.content {
  direction: rtl;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.volume {
  left: 12px;
  position: absolute;
  top: 80px;
  min-width: 139px;
  padding: 0px 16px;
  height: 36px;
  z-index: 5;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  backdrop-filter: blur(8px);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
  background: rgba(255, 255, 255, 0.85);
  z-index: 1000;
  cursor: pointer;
}

.volume svg {
  font-size: 20px;
  cursor: pointer;
}

.volume span {
  margin-left: 4px;
  color: rgb(22, 24, 35);
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  line-height: 18px;
  padding: 8px 0px;
}

.volume-hide {
  display: none;
}

@media (min-width:768px) {
  .volume {
    left: 42%;
    transform: translateX(-41%);
    position: absolute;
    top: 90px;
    min-width: 139px;
    padding: 0px 16px;
    height: 36px;
    z-index: 5;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    backdrop-filter: blur(8px);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    background: rgba(255, 255, 255, 0.85);
    -webkit-transform: translateX(-41%);
    -moz-transform: translateX(-41%);
    -ms-transform: translateX(-41%);
    -o-transform: translateX(-41%);
    cursor: pointer;
  }
}

.play-btn,
.play-btn-hide {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  padding: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.play-btn-hide {
  display: none;
}

.play-btn .btt {
  display: flex;
  justify-content: center;
  align-items: center;
}